n8n-workflows/content-refresh.json
{
  "name": "Content Refresh (Weekly Evergreen Update)",
  "nodes": [
    {
      "id": "d1e2f3a4-0001",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [240, 300],
      "parameters": {
        "rule": {
          "interval": [{"field": "weeks", "weeksInterval": 1, "triggerAtDay": [1], "triggerAtHour": 2}]
        }
      }
    },
    {
      "id": "d1e2f3a4-0002",
      "name": "Get Old Evergreen Articles",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [460, 300],
      "parameters": {
        "method": "GET",
        "url": "={{$env.API_BASE_URL}}/api/v1/articles",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer ={{$env.API_TOKEN}}"}
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "status", "value": "published"},
            {"name": "is_ai_generated", "value": "true"},
            {"name": "older_than", "value": "30"},
            {"name": "limit", "value": "3"}
          ]
        }
      }
    },
    {
      "id": "d1e2f3a4-0003",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [680, 300],
      "parameters": {"batchSize": 1, "options": {}}
    },
    {
      "id": "d1e2f3a4-0004",
      "name": "Refresh with Claude",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [900, 300],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "x-api-key", "value": "={{$env.ANTHROPIC_API_KEY}}"},
            {"name": "anthropic-version", "value": "2023-06-01"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "bodyParameters": {
          "parameters": [
            {"name": "model", "value": "claude-sonnet-4-6"},
            {"name": "max_tokens", "value": "4000"},
            {
              "name": "system",
              "value": "You are updating an existing article to make it current and accurate for 2026. Keep the same structure but update statistics, prices, and add new developments. Return updated HTML content only."
            },
            {
              "name": "messages",
              "value": "=[{\"role\":\"user\",\"content\":\"Update this article for 2026. Title: \" + $json.title + \"\\n\\nCurrent content:\\n\" + $json.content.substring(0, 3000) + \"\\n\\nPlease refresh statistics, prices, and add recent developments. Return full updated HTML content.\"}]"
            }
          ]
        }
      }
    },
    {
      "id": "d1e2f3a4-0005",
      "name": "Update Article Content",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1120, 300],
      "parameters": {
        "method": "PUT",
        "url": "={{$env.API_BASE_URL}}/api/v1/articles/={{$('Split Into Items').item.json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "Bearer ={{$env.API_TOKEN}}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {"name": "content", "value": "={{$json.content[0].text}}"}
          ]
        }
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {"main": [[{"node": "Get Old Evergreen Articles", "type": "main", "index": 0}]]},
    "Get Old Evergreen Articles": {"main": [[{"node": "Split Into Items", "type": "main", "index": 0}]]},
    "Split Into Items": {"main": [[{"node": "Refresh with Claude", "type": "main", "index": 0}]]},
    "Refresh with Claude": {"main": [[{"node": "Update Article Content", "type": "main", "index": 0}]]}
  },
  "active": false,
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": [{"name": "content-pipeline"}]
}
